.whatsapp-btn{

position:fixed;

bottom:30px;

left:30px;

width:60px;

height:60px;

background:#25d366;

border-radius:50%;

display:flex;

justify-content:center;

align-items:center;

color:white;

font-size:30px;

text-decoration:none;

box-shadow:0 10px 25px rgba(0,0,0,.3);

z-index:999;

transition:.3s;

animation:float 2s infinite;

}

.whatsapp-btn:hover{

transform:scale(1.1);

}

.scroll-btn{

position:fixed;

right:30px;

bottom:30px;

width:60px;

height:60px;

border:none;

border-radius:50%;

background:#2563eb;

color:white;

font-size:24px;

cursor:pointer;

box-shadow:0 10px 25px rgba(0,0,0,.3);

transition:.3s;

z-index:999;

}

.scroll-btn:hover{

background:#1d4ed8;

transform:translateY(-5px);

}

@keyframes float{

0%{

transform:translateY(0);

}

50%{

transform:translateY(-8px);

}

100%{

transform:translateY(0);

}

}