.stats{
    padding:90px 8%;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:30px;
    background:#ffffff;
}

.stat-card{
    background:#f8fafc;
    border-radius:18px;
    padding:40px 25px;
    text-align:center;
    transition:.3s;
    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.stat-card:hover{
    transform:translateY(-10px);
}

.stat-icon{
    font-size:55px;
    color:#2563eb;
    margin-bottom:20px;
}

.stat-card h2{
    font-size:42px;
    color:#0f172a;
    margin-bottom:10px;
}

.stat-card p{
    color:#64748b;
    font-size:17px;
}

@media(max-width:768px){

.stats{
grid-template-columns:1fr;
}

}