.technologies{
    padding:100px 8%;
    background:#ffffff;
}

.tech-heading{
    text-align:center;
    margin-bottom:60px;
}

.tech-heading span{
    color:#16a34a;
    font-weight:600;
    letter-spacing:2px;
    text-transform:uppercase;
}

.tech-heading h2{
    font-size:48px;
    margin:20px 0;
    color:#111827;
}

.tech-heading p{
    max-width:700px;
    margin:auto;
    color:#6b7280;
    line-height:1.8;
}

.tech-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:25px;
}

.tech-card{
    background:#fff;
    border:1px solid #e5e7eb;
    border-radius:20px;
    padding:35px 20px;
    text-align:center;
    transition:.35s;
    box-shadow:0 8px 25px rgba(0,0,0,.06);
}

.tech-card:hover{
    transform:translateY(-8px);
    box-shadow:0 20px 40px rgba(0,0,0,.12);
    border-color:#16a34a;
}

.tech-card svg{
    font-size:55px;
    color:#16a34a;
    margin-bottom:20px;
}

.tech-card h3{
    font-size:22px;
    color:#222;
}