.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 8%;
  background:#0f172a;
}

.logo{
  color:white;
  font-size:28px;
  font-weight:bold;
}

.nav-links{
  display:flex;
  gap:30px;
  list-style:none;
  color:white;
}

button{
  background:#2563eb;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:8px;
  cursor:pointer;
}