.sidebar {
  width: 250px;
  height: 100vh;
  background: #111827;
  color: white;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px;
}

.logo {
  text-align: center;
  margin-bottom: 35px;
  font-size: 24px;
  color: #38bdf8;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar ul li:hover {
  background: #1e293b;
}

.logout {
  margin-top: 40px;
  color: #ff6b6b;
}
