.footer{
    background:#07142E;
    color:white;
    text-align:center;
    padding:60px 8%;
}

.footer h2{
    margin-bottom:20px;
}

.footer p{
    color:#ddd;
    margin-bottom:10px;
}

.copyright{
    margin-top:20px;
    color:#999;
}